<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

  <session-factory>
    <!-- Database connection settings -->
    <property name="hbm2ddl.auto">update</property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="connection.url">
      jdbc:mysql://localhost:3306/hibernate_training?createDatabaseIfNotExist=true
    </property>
    <property name="connection.username">root</property>
    <property name="connection.password">Aa@123456</property>
    <property name="connection.useSSL">false</property>

    <!-- JDBC connection pool (use the built-in) -->
    <!--    <property name="connection.pool_size">1</property>-->

    <!-- SQL dialect -->
    <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>

    <!-- Enable Hibernate's automatic session context management -->
    <property name="current_session_context_class">thread</property>

    <!-- Echo all executed SQL to stdout -->
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>

    <!-- Configure batching -->
    <property name="hibernate.jdbc.batch_size">10</property>
    <property name="hibernate.order_inserts">true</property>
    <property name="hibernate.order_updates">true</property>

    <!-- Enable the second level cache -->
    <property name="cache.use_second_level_cache">true</property>
    <property name="cache.use_query_cache">true</property>
    <property name="javax.cache.provider">
      org.ehcache.jsr107.EhcacheCachingProvider
    </property>
    <property name="cache.region.factory_class">
      org.hibernate.cache.jcache.internal.JCacheRegionFactory
    </property>
    <property name="javax.cache.missing_cache_strategy">create</property>

    <mapping class="org.sun.asterisk.entities.Department" />
    <mapping class="org.sun.asterisk.entities.Employee" />
    <mapping class="org.sun.asterisk.entities.SalaryGrade" />
    <mapping class="org.sun.asterisk.entities.Timekeeper" />

  </session-factory>

</hibernate-configuration>
